.login__container {
    display: flex;
    width: 100%;

    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.login__container-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    span {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }

    h6 {
        margin: 0.5rem 0;
        font-size: 1rem;
        font-family: "OpenSans-SemiBold";
    }

    form {

        input[type=email], input[type=password] {
            width: 70%;
            outline: none;
            border: 1px solid var(--dark_gray-color);
            border-radius: 0.5rem;
            background-color: transparent;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-family: "OpenSans-Regular";
            margin: 0.75rem 0;

            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }

        input[type=checkbox] {
            margin-top: 1rem;
            accent-color: var(--dark_gray-color);
            margin: 0.75rem 0;
        }

        label {
            margin-left: 0.5rem;
            font-size: 1rem;
            font-family: "OpenSans-SemiBold";

            @media screen and (max-width: 750px) {
                font-size: 0.875rem;
            }
        }

        button {
            outline: none;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            font-family: "Rubik";
            font-size: 0.85rem;
            color: var(--white-color);
            background: var(--dark_gray-color);
            text-transform: uppercase;
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 0.75rem 0;

            &:hover {
                cursor: pointer;
                background-color: var(--black-color);
            }

            @media screen and (max-width: 1200px) {
                width: 100%;
            }

            @media screen and (max-width: 750px) {
                font-size: 0.8rem;
                padding: 0.75rem;
            }

            @media screen and (max-width: 450px) {
                font-size: 0.75rem;
            }
        }
    }

    @media screen and (max-width: 750px) {
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 450px) {
        padding: 0;
        margin-bottom: 1.25rem;
    }
}

.checkbox-input__alignment {
    display: flex;
    align-items: center;
}

.social_auth {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 0.75rem 0;

    svg {
        height: 4rem;
        width: 30%;
        padding: 1rem;
        border: 1px solid var(--dark_gray-color);
        color: var(--dark_gray-color);
        border-radius: 0.75rem;

        &:hover {
            cursor: pointer;
            color: var(--black-color);
        }
    }
}
