@font-face {
    font-family: "Rubik";
    src: local("Rubik-SemiBold"),
        url("./Assets/Font/Rubik-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"),
        url("./Assets/Font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: local("OpenSans-SemiBold"),
        url("./Assets/Font/OpenSans-SemiBold.ttf") format("truetype");
}

.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.app__container {
    flex-basis: 100%;
    max-width: 85rem;
    margin: 2rem 3rem;

    @media screen and (max-width: 1000px) {
        margin: 2rem 2.5rem;
    }

    @media screen and (max-width: 750px) {
        margin: 1.75rem 1.5rem;
    }

    @media screen and (max-width: 450px) {
        margin: 1.5rem 1rem;
    }
}

.app__page__container {
    flex-basis: 100%;
    max-width: 85rem;
    margin: 0 3rem;

    @media screen and (max-width: 1000px) {
        margin: 0 2.5rem;
    }

    @media screen and (max-width: 750px) {
        margin: 0 1.5rem;
    }

    @media screen and (max-width: 450px) {
        margin: 0 1rem;
    }
}

.app__flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 4.5rem;
    max-width: 45rem;
    font-family: "Rubik";
    text-transform: uppercase;
    color: var(--dark_gray-color);

    @media screen and (max-width: 1000px) {
        font-size: 3.5rem;
    }

    @media screen and (max-width: 750px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 3rem;
    font-family: "Rubik";

    @media screen and (max-width: 750px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1.5rem;
    font-family: "Rubik";
    color: var(--dark_gray-color);

    @media screen and (max-width: 750px) {
        font-size: 1.25rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 1rem;
    }
}
