* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--gray-color);
}

:root {
  --blue-color: #4A69E2;
  --hover_blue-color: #1b3dc4;
  --yellow-color: #FFA52F;
  --white-color: #FFFFFF;
  --light_white-color: #FAFAFA;
  --gray-color: #E7E7E3;
  --light_gray-color: #70706E;
  --dark_gray-color: #232321;
  --hover_gray-color: #41413e;
}