* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--gray-color);
}

:root {
  --blue-color: #4A69E2;
  --yellow-color: #FFA52F;
  --red-color: #9c2c1f;
  --green-color: #707E6E;
  --brown-color: #925513;
  --off_white-color: #FAFAFA;
  --tan-color: #BB8056;
  --cement-color: #677282;
  --off_gray-color: #C9CCC6;
  --orange-color: #F08155;

  --dark_gray-color: #232321;
  --light_blue-color: #ECEEF0;
  --hover_blue-color: #1b3dc4;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gray-color: #E7E7E3;
  --light_gray-color: #70706E;

  --disable_font-color: #D2D1D3;
  --disable_bg-color: #8F8C91;
}